.section {
	padding: 120px 0;
	overflow-x: hidden;
}

.titleSection {
	font-size: 2rem;
	font-weight: 600;
}

.dualgrid_nosotros {
	display: grid;
	grid-template-columns: 4fr 6fr;
	grid-template-columns: 1fr;
	grid-gap: 2rem;
}

.content_wrapper {
	position: relative;
	display: grid;
	grid-template-columns: 260px 1fr;
	grid-template-columns: 1fr;
	gap: 1.5rem;
}

.dualgrid_item_left {
	display: flex;
	align-items: center;
	justify-content: center;
	grid-row: 2;
	/* display: none; */
}

.pre_modal_video {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position: relative;
	border-radius: 12px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;

	border: 1px solid var(--herobottomBorder);
	box-shadow: none;
	transition: box-shadow 0.2s ease;
}

.pre_modal_video:hover {
	box-shadow: var(--navBarBoxShadow);
}

.pre_modal_video.active {
	box-shadow: var(--navBarBoxShadow);
}

.contentMedia {
	position: absolute;
	width: 100%;
	height: 100%;
	/* background-color: aqua; */
	display: flex;
	justify-content: center;
	align-items: center;
}

.design {
	position: relative;
	width: 80%;
	max-width: 440px;
	/* height: 100%; */
	aspect-ratio: 1/1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.lineaDashed {
	position: absolute;

	width: 100%;
	height: 100%;
	background-image: url("data:image/svg+xml,%3csvg width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%' height='100%' fill='none' rx='100%' ry='100%' stroke='%23890524FF' stroke-width='2' stroke-dasharray='4' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
	border-radius: 50%;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.playButton {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 94px;
	height: 94px;
	border-radius: 50%;
	/* background-color: rgb(7, 229, 88); */
	cursor: pointer;
	border: none;
	color: var(--primary-color);
	overflow: hidden;
	margin: 5rem 0;
	padding: 0;
}

.playButton .gradient {
	position: absolute;
	--byAlmeydacolor: linear-gradient(
		#890524,
		#b40813,
		#c00612,
		#b40813,
		#890524
	);
	width: calc(100%);
	height: calc(100%);
	border-radius: 50%;
	/* background: var(--byAlmeydacolor); */
	background: var(--primary-color);
	/* filter: blur(3px); */
	background-size: 200%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.playButton .gradient.active {
	background: var(--byAlmeydacolor);
	animation: animate 1s linear infinite;
	filter: blur(2px);
}

@keyframes animate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.btn_icon {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--backgroundColor);
	width: 82px;
	height: 82px;
	border-radius: 50%;
	z-index: 1;
	color: var(--primary-color);
}

.youtube {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.iframe_youtube {
	width: 100%;
	height: 100%;
}

.parrafo {
	text-align: center;
}

.button {
	margin: 1rem auto 0.5rem auto;
	min-width: 9rem;
}

.button:hover {
	background-color: #890524;
	color: #fff;
}

@media (min-width: 820px) {
	.dualgrid_nosotros {
		grid-template-columns: 4fr 6fr;
	}
	.dualgrid_item_left {
		display: flex;
		align-items: center;
		justify-content: center;
		grid-row: 1;
	}
	.button {
		margin: 1rem 0 0 0;
	}
}

.mision_vision {
	background-color: var(--backgroundAccent);
	grid-row: 2;
	width: 100%;
	padding: 12px;
	border-radius: 12px;
}

.dualgrid_item_right {
	/* transform: translateY(-4px); */
}

.title_wrapper {
	margin-top: 0.5rem;
	margin-bottom: 4rem;
}

/* estilos del modal de video */

.container_modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: -webkit-fill-available;
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.65);
	z-index: 0;
}

.como_cine {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.92);
	z-index: 1;
}

.modal_video {
	position: relative;
	width: 100%;
	max-width: calc(var(--maxwidth) - 4rem);
	background-color: var(--backgroundColor);
	border-radius: 1rem 1rem 0 0;
	border: none;
	height: calc(100% - var(--navBarHeight));
	z-index: 1;
	display: grid;
	align-items: center;
	grid-template-rows: auto 1fr;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.75rem;
	border-bottom: 1px solid var(--herobottomBorder);
}

.header_text {
	font-size: 20px;
	margin: 0 !important;
}

.close {
	border-radius: 50%;
	background-color: var(--herobottomBorder);
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	border: none;
	cursor: pointer;
}

.body_video {
	position: relative;
	position: relative;
	width: 100%;
	height: 100%;

	overflow: hidden;
	background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
	background-size: 200% 100%;
	animation: 0.9s loadingMasna linear infinite;
}

.foquito_masna {
	position: absolute;
	right: -1.2rem;
	z-index: 10;
	color: #fff;
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--primary-color);
	box-shadow: 0 0 0 5px rgba(137, 5, 36, 0.4);
	cursor: pointer;
	display: none;
}

@keyframes loadingMasna {
	to {
		background-position-x: -200%;
	}
}

@media (min-width: 768px) {
	.container_modal {
		align-items: center;
	}

	.overlay {
		background-color: var(--overlayBg);
		backdrop-filter: blur(28px) saturate(125%);
	}

	.modal_video {
		width: 92%;
		border-radius: 1rem;
		box-shadow: var(--navBarBoxShadow);
		height: auto;
	}

	.header {
		padding: 0.75rem 1rem;
		border-bottom: 1px solid var(--herobottomBorder);
	}

	.header_text {
		font-size: 22px;
	}

	.body_video {
		height: auto;
		aspect-ratio: 16/9;
		border-radius: 0 0 1rem 1rem;
	}
	.foquito_masna {
		display: flex;
	}
}
