.space {
	/* background-color: aqua; */
	width: 100%;
	height: 340px;
	margin-top: 3.125rem;
}

.bgHeadSection {
	/* background-color: aqua; */
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	max-width: var(--maxwidth);
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bgMap {
	position: relative;
	width: calc(100% - 81px);
	height: calc(100% - 81px);
	/* background-color: aquamarine; */
	margin: 0 auto;
	opacity: 0.6;
	display: none;
	object-fit: contain;
}

@media (min-width: 580px) {
	.bgMap {
		display: block;
	}
}
