.content {
	display: grid;
	grid-template-columns: 280px 1fr;
	gap: 8px;
	color: var(--nextui-colors-gray600);
	max-width: 1400px;
	margin: 0 auto;
}

.title {
	font-size: 40px;
	letter-spacing: -0.02em;
	line-height: 56px;
	color: var(--nextui-colors-text);
}
