.serviciosWrapper {
	display: grid;
	margin-top: 3rem;
}

.servicio {
	display: grid;
	grid-template-columns: 1fr;
	align-items: center;
	gap: 2rem;
	padding: 3.5rem 0;
}

.servicio.reverse {
	grid-template-columns: 4fr 6fr;
	grid-template-columns: 1fr;
}

.servicioImage {
	position: relative;
	width: 100%;
	height: 95%;
	min-height: 320px;
	border-radius: 8px;
	overflow: hidden;
	background-color: #eee;
	border-radius: 20px;
	background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
	background-size: 200% 100%;
	animation: 1.2s loadingMasna linear infinite;
}

@keyframes loadingMasna {
	to {
		background-position-x: -200%;
	}
}
.servicioImage img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 8px;
}

.servicioSubtitle {
	margin: 0;
	font-size: 1rem;
	display: none;
}

.servicioTitle {
	font-size: 28px;
	color: var(--primary-color);
	line-height: calc(32px * 1.25);
	line-height: 1.35;
	margin-bottom: 2.5rem;
	letter-spacing: -0.02em;
}

@media (min-width: 650px) {
	.servicio {
		grid-template-columns: 55fr 45fr;
		/* gap: 1rem; */
	}
	.servicioSubtitle {
		display: block;
	}
	.servicioImage {
		width: 92%;
		max-width: 560px;
	}

	.servicio.reverse {
		grid-template-columns: 4fr 6fr;
	}
	.reverse .servicioImage {
		margin-left: auto;
		grid-column: 2;
	}
	.reverse .servicioInfo {
		grid-column: 1;
		grid-row: 1;
	}
}

.description {
	display: flex;
	gap: 1rem;
	align-items: flex-start;
}

.icon {
	margin-top: 3px;
}

.text {
	letter-spacing: 0.01em;
	line-height: 200%;
	margin-bottom: 16px;
}

.link {
	margin-top: 2rem;
	color: var(--primary-color);
	font-weight: 500;
	letter-spacing: -0.02em;
	line-height: 24px;
	display: flex;
	align-items: center;
	gap: 0.5rem;
	width: fit-content;
}

.link svg {
	transition: transform 0.3s ease;
}

.link:hover {
	text-decoration: underline;
}

.link:hover svg {
	transform: translateX(1rem);
}
