.swiper {
	/* background-color: peru; */
	padding-bottom: 2rem;
	margin-top: -280px;
}

.card {
	position: relative;
	border-radius: 6px;
	overflow: hidden;
	width: 100%;
	box-shadow: 0 4px 16px rgb(40 40 40 / 15%);
}

.cardImage {
	position: relative;
	width: 100%;
	height: 100%;
	object-fit: cover;
	height: 280px;
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	object-fit: cover;
	object-position: bottom !important;
	overflow: hidden;
}

.overlayBg {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-image: -webkit-linear-gradient(top, transparent, #1b1a1a 100%);
	opacity: 0.5;
	display: flex;
	transition: all ease-in-out 0.25s;
	transform: scale(0);
	z-index: 1;
}

.card:hover .overlayBg {
	transform: scale(1);
}

.plus {
	--size: 26px;
	position: absolute;
	width: var(--size);
	height: var(--size);
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}

.line {
	position: absolute;
	width: 100%;
	height: 4px;
	border-radius: 1rem;
	background-color: #fff;
	z-index: 1;
}

.line:last-child {
	transform: rotate(90deg);
}

.card:hover .plus {
	display: flex;
}

.cardContent {
	padding: 22px 30px 30px;
	background-color: var(--backgroundColor);
}

.cardCategory {
	font-size: 13px;
	font-weight: 400;
	color: var(--primary-color);
	margin-bottom: 10px;
}

.cardTitle {
	color: var(--text-color);
	font-size: 18px;
	line-height: 28px;
	letter-spacing: -0.02em;
	font-weight: 600;
	transition: all 0.25s ease;
}

.cardTitle:hover {
	color: var(--primary-color);
}

.cardDescription {
	font-size: 15px;
	margin-bottom: 1rem;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.cardLink {
	position: relative;
	font-size: 14px;
	color: var(--text-color);
	font-weight: 700;
	text-transform: capitalize;
	transition: all 0.25s ease;
}

.cardLink::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: -4px;
	left: 0;
	background-color: currentColor;
}

.cardLink:hover {
	color: var(--primary-color);
}
