.container {
	/* background-color: aqua; */
	width: 100%;
	height: calc(100% - var(--navBarHeight));
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 200;
	display: grid;
	pointer-events: none;
	display: flex;
}

.heroSwiper {
	position: absolute;
	width: 100%;
	height: 460px;
	overflow: visible !important;
	pointer-events: none;
}

.HeroSliderWrapper {
	position: relative;
	width: 90%;
	max-width: 500px;
	height: 100%;
	/* background-color: aquamarine; */
	display: flex;
	align-items: center;
	justify-content: center;
}

.heroSlide {
	width: calc(100% - 1rem);
	height: calc(100% - 1rem);
	background-color: rgb(255, 255, 255);
	border-radius: 12px;
}
