.scrollUp {
	--size: 56px;
	display: flex;
	width: var(--size);
	height: var(--size);
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	background-color: var(--backgroundColor);
	text-align: center;
	font-size: 12px;
	font-weight: 600;
	box-shadow: var(--scrollUpBoxShadow);
	cursor: pointer;
	color: var(--primary-color);
}

.icon {
	display: flex;
}

.scrollBg {
	position: absolute;
	width: 70px;
	height: 70px;
	transform: rotate(-90deg);
	pointer-events: none;
	pointer-events: none;
}

.scrollBg circle {
	stroke-dashoffset: 0;
	stroke-width: 6px;
	fill: none;
}

.scrollContainer {
	stroke: var(--backgroundAccent);
}

.scrollIndicator {
	stroke: var(--primary-color);
}
