.container {
	position: fixed;
	top: calc(47% - var(--navBarHeight));
	right: 0;
	border-radius: 10px 0 0 10px;
	background-color: var(--primary-color);
	/* background-color: var(--backgroundColor);; */
	z-index: 800;
	color: #fff;
	cursor: pointer;
	box-shadow: rgba(0, 0, 0, 0.1) -1px 0px 3px 0px,
		rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
	display: flex;
}

.content {
	padding: 0.85rem 1.25rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title {
	margin-top: 0.25rem;
	text-align: center;
	line-height: 1.2;
	font-size: 16px;
	font-weight: 500;
	color: currentColor;
	margin-bottom: -4px;
}

.span {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 500;
	font-size: 10px;
	writing-mode: vertical-rl;
	text-orientation: mixed;
	transform: rotate(180deg);
	text-align: center;
	color: #fff;
}
