.servicio {
	display: grid;
	grid-template-columns: 1fr;
	gap: 2rem;
	padding: 2rem 0;
}

.servicio.reverse {
	grid-template-columns: 1fr;
}

.servicioImage {
	position: relative;
	width: 100%;
	height: 95%;
	min-height: 320px;
	border-radius: 8px;
	overflow: hidden;
	background-color: #eee;
	border-radius: 10px;
	background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
	background-size: 200% 100%;
	animation: 1.2s loadingMasna linear infinite;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

@keyframes loadingMasna {
	to {
		background-position-x: -200%;
	}
}
.servicioImage img {
	object-fit: cover;
	object-position: center center !important;
	border-radius: 8px;
	margin: auto;
	transition: all 0.25s ease;
}

.servicioImage:hover img {
	transform: scale(1.1);
}

.servicioSubtitle {
	margin: 0;
	font-size: 1rem;
	display: none;
}

.servicioTitle {
	font-size: 28px;
	color: var(--primary-color);
	line-height: calc(32px * 1.25);
	line-height: 1.35;
	margin-bottom: 2.5rem;
	letter-spacing: -0.02em;
}

@media (min-width: 850px) {
	.servicio {
		grid-template-columns: 1fr 1fr;
		/* gap: 1rem; */
	}
	.servicioSubtitle {
		display: block;
	}
	.servicioImage {
		width: 92%;
		max-width: 560px;
	}

	.servicio.reverse {
		grid-template-columns: 1fr 1fr;
	}
	.reverse .servicioImage {
		margin-left: auto;
		grid-column: 2;
	}
	.reverse .servicioInfo {
		grid-column: 1;
		grid-row: 1;
	}
}

.description {
	display: flex;
	gap: 1rem;
	align-items: flex-start;
	margin-top: 6px;
}

.icon {
	margin-top: 3px;
}

.text {
	font-family: var(--fontFamily);
	font-size: 15px;
}
