.footer {
	display: grid;
	overflow-x: hidden;
	width: 100%;
	background-color: var(--backgroundColor);
}

.topFooter {
	position: relative;
	padding: 6.5rem 0 4rem 0;
}

.bottomFooter {
	position: relative;
	width: 100%;
	padding: 26px 0 32px 0;
	/* background-color: #000; */
}

.bfGap {
	background-color: var(--herobottomBorder);
	height: 1px;
	left: 0;
	margin: auto;
	max-width: 1170px;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

.footerBrand {
	text-align: center;
	color: var(--primary-color);
}

.textBrand {
	font-style: italic;
	margin-top: 0.45rem;
	font-weight: 500;
	color: var(--logoColor);
}

.textDesc {
	color: #97989a;
	font-size: 15px;
	max-width: 700px;
	margin: 0 auto;
	margin-top: 1rem;
}

.buttons {
	display: flex;
	justify-content: center;
	margin-top: 1.5rem;
	gap: 0.5rem;
}

.button {
	--size: 44px;
	margin: 0;
	padding: 0;
	width: var(--size);
	height: var(--size);
	position: relative;
	transition: all 0.3s ease;
}

.button:hover {
	box-shadow: 0 4px 14px 0 var(--nextui-colors-primaryShadow);
}

.titleSection {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 1rem;
}

.list {
	margin: 0;
}

.link {
	font-size: 14px;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;
	font-family: var(--fontFamily);
	color: var(--textColor);
	color: #97989a;
}

.link:hover {
	color: var(--primary-color);
}

.contact {
	/* display: grid; */
	/* background-color: blueviolet; */
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.listContacto {
	display: flex;
	gap: 10px;
}
.listContacto .text {
	font-family: var(--fontFamily);
	font-size: 14px;
	color: #97989a;
}

/* .listContacto .text:last-child {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
} */

.sections {
	display: grid;
	gap: 2rem;
	margin-top: 3rem;
}

.twoSection {
	display: grid;
	gap: 3rem;
	grid-template-columns: 6fr 4fr;
}

@media (min-width: 768px) {
	.sections {
		grid-template-columns: 6fr auto;
	}
}

@media (min-width: 1080px) {
	.topFooter {
		display: grid;
		grid-template-columns: 2fr 4fr;
		gap: 2rem;
		padding: 6rem 0 5rem 0;
	}
	.footerBrand {
		text-align: left;
	}
	.sections {
		margin-top: 0;
	}
	.buttons {
		justify-content: flex-start;
	}
}

.selectIdioma {
	display: flex;
	align-items: center;
	position: relative;
}

.taco {
	position: relative;
	z-index: 200;
	background-color: var(--backgroundColor);
	color: #868686;
	padding: 5px 0;
}
.taco_content {
	padding: 0 0.8rem;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.taco_content span {
	color: var(--primary-color);
	display: none;
}
.taco_content > p {
	display: flex;
	align-items: center;
	font-size: 14px;
	margin: 0 auto;
	flex-direction: column;
	/* gap: 0.25rem; */
}
.version {
	font-size: 12px;
}

@media (min-width: 620px) {
	.taco_content span {
		display: block;
	}
	.taco_content > p {
		flex-direction: row;
		gap: 0.25rem;
	}
}

@media (min-width: 1080px) {
	.taco_content {
		justify-content: center;
	}
	.taco_content > p {
		margin: 0;
	}
}

.menu_bottomFooter {
	display: flex;
	justify-content: center;
	margin: 0;
}

.menu_item {
	display: inline-block;
	line-height: 1;
	padding: 0 12px;
	font-size: 12px;
	border-right: 1px solid #9b9b9b;
	margin: 0;
}

.menu_item > * {
	margin: 0;
	color: #9b9b9b;
}

.menu_item:first-child {
	padding-left: 0;
}

.menu_item:last-child {
	border-right: none;
	padding-right: 0;
}

.menu_item:hover {
	text-decoration: underline;
}
