.container {
	position: relative;
	width: 100%;
	min-height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* .effectBg {
	position: absolute;
	width: 100%;
	background: var(--gradientHero);
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
} */

.content {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	/* flex-direction: column; */
	padding: 5rem 0;
	justify-content: center;
	/* background-color: aquamarine; */
	align-items: center;
}

.bg {
	top: 0;
	left: 0;
	position: absolute;
	background-color: rgb(8, 8, 8);
	width: 100%;
	height: 100%;
	background: var(--navbarBgGradient);
	display: flex;
	align-items: center;
	/* justify-content: center; */
	overflow: hidden;
}
.bg svg {
	transition: all 0.25s ease;
	position: absolute;
	width: 90%;
	height: 190%;
	transform: scale(2) translate(10%, 0);
}
