.btnNav {
	position: relative;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	border-radius: 8px;
	border: none;
	padding: 0 0.75rem;
	transition: all 0.2s ease;
	color: currentColor;
	background-color: transparent;
	/* backdrop-filter: blur(10px); */
}
.btnNav:hover {
	background-color: var(--navBarHighlight);
}
.btnNav:active {
	transform: scale(0.9);
}

.btnTheme {
	/* color: rgb(110, 110, 110); */
}

.btnIdiomas {
	gap: 0.35rem;
	padding-right: 0.5rem;
}

.btnIdiomas.active {
	background-color: var(--navBarHighlight);
}

.selectIdiomas {
	position: relative;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1001;
}

.menuIdioma {
	position: absolute;
	top: calc(100% + 0.25rem);
	background-color: var(--backgroundColor);
	padding: 8px;
	border-radius: 8px;
	box-shadow: var(--navBarBoxShadow);
	z-index: 1000;
}

.itemIdioma {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	cursor: pointer;
	transition: all 0.25s ease;
	padding: 6px 12px;
	border-radius: 6px;
	border: none;
	background-color: transparent;
	color: var(--nextui-colors-text);
}

.itemIdioma:hover {
	background-color: var(--backgroundAccent);
}
