.wrapper {
	position: relative;
	width: 92%;
	margin: 0 auto;
	max-width: var(--maxwidth);
}

.tab_container {
	padding: 0 24px;
	display: none;
}

@media (min-width: 768px) {
	.tab_container {
		display: block;
	}
}

@media (min-width: 1000px) {
	.tab_container {
		padding: 0 50px;
	}
}

.map_wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 580px;
}

.tab {
	position: relative;
	width: 100%;
	max-width: 275px;
	margin: auto;
	margin-right: 0;
}

.tabHeader {
	color: #fff;
	background-color: var(--primary-color);
	font-size: 20px;
	font-weight: 500;
	padding: 1rem 2rem 1rem 1.5rem;
	border-radius: 2px 2px 0px 0px;
}

.tabContent {
	position: absolute;
	background-color: var(--backgroundColor);

	box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px -1px;
	border-radius: 2px;
	width: 100%;
	top: 100%;
	left: 0;
	z-index: 1;
}

.infoItem {
	display: flex;
	align-items: center;
	line-height: 21px;
	margin-bottom: 9px !important;
	font-size: 14px;
	gap: 10px;
}

.infoItem > * {
	color: #a5a5a5;
	font-size: 14px;
}

.infoItem:hover > * {
	color: #7c7a7a;
}

.infoEmail {
	/* truncar texto */
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
