.menu {
	--size: 40px;
	position: relative;
	border: none;
	background-color: transparent;
	width: var(--size);
	height: var(--size);
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	/* color: var(--primary-color); */
}

.line,
.centerLine {
	position: absolute;
	width: 24px;
	height: 2px;
	background-color: currentColor;
	border-radius: 1rem;
}
.centerLine {
	/* height: 2.35px; */
}

.centerLines {
	position: relative;
	width: var(--size);
	height: var(--size);
	display: flex;
	justify-content: center;
	align-items: center;
}
