.navbar {
	width: 100%;
	height: var(--navBarHeight);
	position: fixed;
	top: 0;
	z-index: 999;
	transition: all 0.25s ease;
	--navMenuMarginTop: .2rem;
	background-color: transparent;
	background: var(--navBarBg);
	@media (min-width: 890px) {
		display: none;
	}
}

.navbar.active {
	--navMenuMarginTop: 0.5rem;

	background-color: var(--navBarbgActive);
	height: var(--navBarHeightActive);
	color: var(--nextui-colors-text);
	box-shadow: var(--navBarBoxShadow);
}

.superMenu {
	position: relative;
	/* height: 400px; */
	width: 92%;
	max-width: var(--maxwidth);
	margin: 0 auto;
	padding-top: var(--navMenuMarginTop);
}

.superMenu_wrapper {
	height: 100%;
	border-radius: 8px;
	background-color: var(--backgroundColor);
	box-shadow: var(--navBarBoxShadow);
	padding: 48px 24px 62px 24px;
}

.wrapperNav {
	position: relative;
	width: 100%;
	height: 100%;
}

.content {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	justify-content: space-between;
	align-items: center;
	width: 92%;
	height: 100%;
	margin: 0 auto;
	/* limit props */
	max-width: var(--maxwidth);
}

.btnNav {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	border-radius: 8px;
	border: none;
	padding: 0 0.75rem;
	transition: all 0.2s ease;
	color: currentColor;
	background-color: transparent;
	&:hover {
		background-color: var(--navBarHighlight);
	}
	&:active {
		transform: scale(0.9);
	}
}


.logoCompact {
	position: relative;
	display: flex;
	align-items: center;
	color: var(--logoColor);
	width: fit-content;
}

.left {
	z-index: 1;
	width: fit-content;
	.logoCompact {
		display: none;
		@media (min-width: 890px) {
			display: flex;
		}
	}
	button {
		@media (min-width: 890px) {
			display: none;
		}
	}
}


.right {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 100%;
	z-index: 1;
	/* gap: 0.5rem; */
	/* background-color: skyblue; */
}

.btnTheme {
	color: var(--themeBtnColor);
}

.dark-theme .btnTheme {
	color: currentColor !important;
}

.nav {
	position: relative;
	height: 100%;
	display: flex;
	align-items: center;
	margin: 0;
	color: currentColor;
}

@media (min-width: 890px) {
	.nav {
		display: flex;
	}
}

.navItem {
	margin: 0;
	position: relative;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: currentColor;
}

.navLink {
	cursor: pointer;
	font-size: 14px;
	/* text-transform: uppercase; */
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.25rem;
	padding: 0 1rem;
	color: currentColor;
	font-weight: 500;
}
.navLink:hover {
	color: var(--primary-color);
}

.underline {
	position: absolute;
	width: 100%;
	height: 4px;
	background-color: var(--primary-color);
	bottom: 0;
	z-index: 1;
	border-radius: 2rem 2rem 0 0;
}

.logo {
	position: relative;
	display: flex;
	align-items: center;
	width: 70px;
	height: 26px;
}

@media (min-width: 890px) {
	.logo {
		width: 180px;
		height: 32px;
	}
}

.logo img {
	width: 100%;
	height: 100%;
}

/* .brand {
	display: flex;
	align-items: center;
} */

.centerBrand {
	z-index: 1;
}

/*----------  ESTILOS DEL OVERLAY MASNA  ----------*/

.overlayCTMR {
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	background-color: var(--overlayBg);
	backdrop-filter: blur(28px) saturate(125%);
	width: 100%;
	height: calc(100% - var(--navBarHeight));
	margin-top: var(--navBarHeight);
}
