.dualGrid {
	display: block;
}

.content {
	max-width: 650px;
}

.content article {
	/* margin-bottom: 80px; */
	padding: 55px 0;
	padding-bottom: 30px;
}

.content article:last-child {
	margin-bottom: 0;
}

.content article p {
	line-height: 2rem;
}

.aside_wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	position: relative;
	width: 100%;
	height: 100%;
	/* background-color: aqua; */
}

.aside {
	position: sticky;
	top: 20px;
	/* background-color: blueviolet; */
	text-align: end;
	display: none;
}

@media (min-width: 768px) {
	.dualGrid {
		display: grid;
		grid-template-columns: 6fr 4fr;
		gap: 1rem;
	}

	.aside {
		display: block;
	}
}

.head_aside {
	padding-top: 62px;
	text-align: end;
	margin-right: 10px;
}

.body_aside {
	margin-right: 0;
}
.body_aside li {
	/* background-color: peru; */
	display: flex;
	justify-content: flex-end;
}

.linkAside {
	font-size: 14px;
	border-right: 3px solid transparent;
	color: var(--nextui-colors-gray600);
	padding: 2px 8px;
	opacity: 0.8;
}

.linkAside:hover {
	color: var(--nextui-colors-gray800);
	opacity: 1;
}

/* .link.active {
	border-right: 4px solid var(--primaryColor);
} */

.titleArticle {
	/* font-size: 1.75rem; */
	line-height: 2rem;
	/* font-weight: 500; */
	margin-bottom: 24px;
	font-family: var(--fontFamilyNextUi);
}

.list {
	list-style-type: disc;
	list-style-position: outside;
	margin-left: 1rem;
	display: block;
	list-style-type: disc;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;
}
