.titleWrapper {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-bottom: 1.5rem !important;
	width: fit-content;
}

.subtitle {
	color: var(--primary-color);
	font-size: 17px;
	margin: 0;
}

.title {
	font-size: 36px;
	font-weight: 600;
	margin: 0;
}

@media (min-width: 768px) {
	.titleWrapper {
		margin-bottom: 2.5rem;
	}
}
